@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --nav-text-color:#DBDBDB;
    --accent-color: #1a1b29;
    --white-color: white;
    --symbols-podcasts-color: #7F00FF;
    --description-color: #cccccc;
    --hr-podcasts-color:rgba(255,255,255,255,0.1);
    --first-gradient-color:#c700fe;
    --second-gradient-color:#5300fb;
}

body{
    --color-tag-u:rgb(255,116,51);
    scroll-behavior: smooth;
    background-color: var(--accent-color);
    font-family: "Noto Sans", sans-serif;
}
img {
    display: block;
    width: 100%;
}

.container {
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

 /*
 font-family:"Noto Sans", sans-serif;  
 font-family:"Righteous", sans-serif;
 */