@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --accent-color: #1a1b29;
    --text-color: white;
    --border-color: white;
    scroll-behavior: smooth;
    color: var(--text-color);
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

 /*
 font-family:"Noto Sans", sans-serif;  
 font-family:"Righteous", sans-serif;
 */