@import "global.css";
@import "global/global.header-nav.css";
@import "global/global.footer.css";
@import "./index/index.local-header.css";
@import "./index/index.schedule.css";
@import "./index/index.section-slider-albums.css";
@import "./index/index.section-podcasts.css";
@import "./index/index.comments.css";
@import "./index/index.section-news.css";
@import "./index/index.numbers.css";
@import "./index/index.subscribe-section.css";