<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Radio Station</title>
    <link rel="stylesheet" href="css/index.css">
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
   
    <link rel="stylesheet", href="css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  </head>
  <body>
    <!--Andrii savitskij | Start of the block-->
    <header class="header" >
      <nav data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.header-nav.partial.html"></div>
    <!--Andrii savitskij | End of the block-->
  </header>
    <!--Arsen Strus | Start of the block-->    
    <div
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="index.local-header.partial.html"
    ></div>
    <!--Arsen Strus | End of the block-->

<!-- Artem Vysokopoias | Start of the block -->

    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.section-about-us.partial.html"
    ></section>
    
<!-- Artem Vysokopoias | End of the block -->
<!-- Dolzhikov Oleksandr | Start of the block -->
    <section
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="index.section-slider-albums.partial.html"
  ></section>
   <!-- Dolzhikov Oleksandr | End of the block -->
    <!--Andrii Voloshyn | Start of the block-->
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.section-podcasts.partial.html"
    ></section>
    <!--Andrii Voloshyn | End the block-->
    <!--Bohdan Forkutsa | Start of the block-->
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.section-numbers.partial.html">
    </section>
    <!--Bohdan Forkutsa | End of the block-->
    <!--Nazar Humnytskyi | Start of the block-->
    <section 
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="index.schedule.partial.html">
    </section>
     <!--Nazar Humnytskyi| End of the block-->
    <!--Diana Bulakhova | Start of the block-->
    <section 
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="index.section-popular-artists.partial.html">
    </section>

    <section
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="index.section-quote.partial.html">
    </section>
    <!--Diana Bulakhova | End of the block-->
    <!-- Nazar Holub | Start of the block-->
    <section 
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="index.section-comments.partial.html">
    </section>
    <!--Nazar Holub | End of the block-->
    <section 
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="index.section-news.partial.html">
    </section>
    <!-- Ivan Butryn | Start of the block -->
    <section 
    data-hx-trigger="load" 
    data-hx-swap="outerHTML" 
    data-hx-get="index.subscribe-section.partial.html"
    ></section>
    <!-- Ivan Butryn | End of the block -->
    <!--Andrii savitskij | Start of the block--> 
    <footer 
    class="footer"
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="global.footer.partial.html">
    </footer>
    <!--Andrii savitskij | End of the block-->

    <script src="./js/index/index.slider-albums.js"></script>
    <script src="js/global/global.header.burgermenu.js"></script>  <!-- Проблема з підгрузкою: раз через раз працює бургер меню  -->
  </body>
</html>
