.header__star-title {
  gap: 10px;
  justify-items: center;
  text-align: center;
}

.comments{
  padding-bottom:50px;
}
.header__star {
  font-size: 2rem;
  color: #ff6347; 
}

.header__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #aaa;
  text-align: left;
}

.header__gratefulness {
  font-size: 1rem;
  color: #aaa;
  text-align: right;
}

.comments__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    justify-items:  start;
    text-align: left;
    align-items: center;
  }

  .header__star-title {
    justify-self: start;
  }

  .comments__list {
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
  }
}

.comment__content {
  background-color: #202135;
  color: var(--description-color);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
  height: 170px;
} 

.comment__image {
  position: relative;
  top:-12%;
  width:22%;
  margin-right:30px;
  height: auto;
}

.comment__text {
  width:auto;
  font-size: 1rem;
  margin-bottom: 10px;
}

.comment__author {
  position: relative;
  width: 100%;
  left:-80%;
  top:80%;
  font-weight: bold;
  font-size: 1rem;
  color: #ff6347; 
}

