.header__star-title {
  gap: 10px;
  justify-items: center;
  text-align: center;
}

.comments {
  padding-bottom: 50px;
}

.header__star {
  font-size: 2rem;
  color: #ff6347;
}

.header__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #aaa;
  text-align: left;
}

.header__gratefulness {
  font-size: 1rem;
  color: #aaa;
  text-align: right;
}

.comments__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.comment__content {
  background-color: #202135;
  color: var(--description-color);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
}

.comment__image {
  position: relative;
  top: 0;
  width: 70px; 
  height: 70px;
  margin: 0 auto 15px auto; 
  border-radius: 50%; 
}

.comment__text {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 10px;
}

.comment__author {
  position: relative;
  font-weight: bold;
  font-size: 1rem;
  color: #ff6347;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    text-align: left;
    align-items: center;
  }

  .header__star-title {
    justify-self: start;
  }

  .comments__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .comment__content {
    flex-direction: row; 
    height: 170px;
  }

  .comment__image {
    width: 22%;
    margin-right: 30px;
    height: auto;
  }

  .comment__author {
    left: -80%;
    top: 80%;
  }
}
