.table__container {
  justify-content: center;
}

.table__mobile__all,
.table__desktop__all {
  display: none;
}

.table__time {
  color: rgb(255, 116, 51);
}

.table__day {
  color: rgb(219, 219, 219);
}
.table__day__time{
  color: #FFFFFF;;
}

@media (max-width: 767px) {
  .table__mobile__all {
    display: block;
    justify-content: center;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .table__desktop__all {
    display: table;
    justify-content: center;
    text-align: left;
  }
}
