.header__star-title {
  gap: 10px;
  justify-items: center;
  text-align: center;
}

.comments{
  padding-bottom:50px;
}
.header__star {
  font-size: 2rem;
  color: #ff6347; 
}

.header__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #aaa;
  text-align: left;
}

.header__gratefulness {
  font-size: 1rem;
  color: #aaa;
  text-align: right;
}

.comments__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    justify-items:  start;
    text-align: left;
    align-items: center;
  }

  .header__star-title {
    justify-self: start;
  }

  .comments__list {
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
  }
}

.comment__content {
  background-color: #202135;
  color: var(--description-color);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
  min-height: 170px;
  align-items: center;
}

.comment__image-container {
  display: flex;
  flex-direction: column; /* Вирівнює зображення та ім'я вертикально */
  align-items: center; /* Центрує їх */
  margin-right: 30px; /* Відступ для простору між зображенням і текстом */
}

.comment__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px; /* Відступ між зображенням і ім'ям */
}

.comment__author {
  font-weight: bold;
  font-size: 1rem;
  color: #ff6347; 
  text-align: center; /* Вирівнювання імені по центру під зображенням */
}

.comment__text {
  flex-grow: 1;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: left;
}

