.radio-app {
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/radio-app-background.png');
    background-size: cover;
    text-align: center;
    background-position: center;
    padding: 120px 0px;
}

.radio-app__content *{
    margin-top: 20px;
}

.radio-app__img-link {
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
}

.radio-app__title, .radio-app__subtitle {
    font-family: "Noto Sans", sans-serif;
}
.radio-app__texts {
    margin-top: 0px;
}
.radio-app__title{
    margin-top: 0px;
    font-size: 12px;
    color: rgb(255,116,51);
    text-transform: uppercase;
}

.radio-app__text{
    font-size: 56px;
    color: rgb(255, 255, 255);
}

.radio-app__subtitle {
    font-size: 19px;
    color: rgba(255,255,255,0.7);
}
