.podcasts-section {
  padding: 10px 0 120px;
}
.podcasts-section__list {
  padding: 0 24px;
}
.podcasts-section__content {
  padding: 39px 43px;
  background-color: var(--background-color-podcasts-section);
  text-align: left;
}
.podcasts-section__content-title {
  font-size: 22px;
  color: var(--white-color);
  font-weight: 600;
  line-height: 33px;
}
.podcasts-section__item-details {
  margin-top: 20px;
}
.podcasts-section__item-info-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.podcasts-section__item-info-icon {
  width: 20px;
  height: 24px;
}
.podcasts-section__item-info-text {
  margin-left: 10px;
  font-size: 14px;
  color: var(--white-color);
  font-weight: 700;
}
.podcasts-section__description {
  margin-top: 20px;
  color: var(--description-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.podcasts-section__actions {
  margin-top: 35px;
  text-align: center;
}

.podcasts-section__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    35deg,
    var(--first-gradient-color),
    var(--second-gradient-color)
  );
  color: var(--white-color);
  padding: 10.5px 39px;
  border: none;
  border-radius: 40px;
  text-decoration: none;
  cursor: pointer;
}
.podcasts-section__link-text {
  font-size: 14px;
  font-weight: 700;
  padding-right:8px;
}
.podcasts-section__icon {
  width: 24px;
  height: 24px;
}
.podcasts-section__item {
    margin-top:30px;
}
