.container__facts {
  padding-left: 45px;
  padding-right: 45px;
  box-sizing: border-box;
  display: flex;
  background-color: var(--about-us-slider-background-color);
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.fact__year {
  color: var(--about-us-slider-fact-year);
  font-size: 30px;
  font-family: "Righteous", cursive;
}

.fact__text {
  color: var(--about-us-slider-fact-text);
  font-family: "Noto Sans", sans-serif;
}

.slider__button__left {
  width: 30px;
  height: 30px;
  color: var(--about-us-slider-buttons-color);
  background-color: var(--about-us-slider-none-color);
  border-color: var(--about-us-slider-none-color);
  font-size: 30px;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.slider__button__right {
  width: 30px;
  height: 30px;
  color: var(--about-us-slider-buttons-color);
  background-color: var(--about-us-slider-none-color);
  border-color: var(--about-us-slider-none-color);
  font-size: 30px;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.seperator__slide__2016 {
  color: var(--about-us-slider-seperator-2016);
}

.seperator__slide__2020 {
  color: var(--about-us-slider-seperator-2020);
}

.seperator__slide__2022 {
  color: var(--about-us-slider-seperator-2022-2006);
}

.seperator__slide__2005 {
  color: var(--about-us-slider-seperator-2005);
}

.seperator__slide__2006 {
  color: var(--about-us-slider-seperator-2022-2006);
}
@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 200px;
  }
  .genre-text {
    font-size: 58px;
  }
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 1) - 9px); 
  }
}
@media screen and (max-width: 479px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 1) - 9px); 
  }
  .album-text-albumname{
    font-size: 32px;
  }
}