.about-us-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 50px;
}
.about-us-title {
  font-size: 56px;
  color: #ffffff;
  font-family: "Righteous";
}
.about-us-home {
  font-size: 12px;
  color: #dbdbdb;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 20px;
  font-family: "Noto-sans";
}
.about-us-about-us-text {
  font-size: 12px;
  color: #ff7433;
  text-transform: uppercase;
}
.learn-more-text {
  font-size: 19px;
  color: #cccccc;
  margin-left: 10;
  text-align: left;
}
.learn-more-block {
  display: flex;
  justify-content: right;
}
@media (max-width: 768px) {
  .about-us-block {
    flex-direction: column;
    align-items: flex-start; 
    padding: 10px;
  }

  .about-us-title {
    font-size: 40px; 
    padding-left: 0;
    margin-bottom: 10px;
  }

  .about-us-home,
  .about-us-about-us-text {
    font-size: 10px;
    padding-left: 0;
  }

  .learn-more-text {
    font-size: 16px;
    margin-left: 0; 
  }

  .learn-more-block {
    justify-content: flex-start; 
    margin-top: 20px;
  }

}
