body {
    background-color: #000000;
    font-family: 'Noto Sans', sans-serif;
    margin: auto;
    padding: 0;
    justify-content: space-between;
    max-width: 1200px;
}
/* Верхний текст */
.page__content { 
    display: flex;
    gap: 20px;
}

.story {
    display: flex;
    flex-direction: column;
    max-width: 50%; 
    padding: 0 20px;
}

.story__icon, .vision__icon {
    margin-right: 20px;
}

.story__icon-text, .vision__icon-text {
    color: #FF7433;
    font-size: 34px;
    font-family: 'Righteous', cursive;
}

.story__title, .vision__title {
    text-transform: uppercase;
    color: #DBDBDB;
    font-size: 12px;
    letter-spacing: 2px;
}

.description {  /* EchoWave Radio */
    max-width: 40%;
    padding: 0 20px;
    margin: 0 auto;
}

.description__intro {
    margin: 0 auto;
    margin-bottom: 20px;
    flex: 1;
}

.description__text {
    color: #FFFFFF;
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 20px;
    flex: 2;
}

.description__highlight--echowave {
    color: #FF7433;
    font-weight: bold;
    font-size: 21px;
}

.description__highlight {
    color: #CCCCCC;
    font-size: 16px;
}

.description__link {
    display: inline-block;
    background-color: #FF00FF;
    color: #FFFFFF;
    font-size: 14.3px;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    border-radius: 20px;
}

.divider {
    margin: 50px 0;
}
/* Нижний текст */
.vision {
display: flex;
flex-direction: row;
gap: 20px;
max-width: 100%;
padding: 30px 0 120px;
}

.vision__top {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    flex: 1;
    padding: 0 20px;
}

.vision__content {   /* 01. Empowering Musical */
    margin: 0 auto;
    padding: 0 20px;
    flex: 1;
}

.vision__item {
    margin-bottom: 20px;
}

.vision__highlight--name {
    color: #FFFFFF;
    font-size: 19px;
    font-weight: bold;
}

.vision__highlight {
    color: #CCCCCC;
    font-size: 16px;
    line-height: 1.6;
}
