.carousel {
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }
.carousel-item {
    flex: 0 0 240px;
    padding: 15px;
    background-color: #1a1a2e;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    margin: 10px;
}
  .arrow-svg_1j4 {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 10px;
  }

  .carouselimg {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    margin: 0 5px;
    border-radius: 10px;
    padding-bottom: 20px;
  }
  .arrow-svg_1j4 {
    width: 20px;
    height: 20px;
    cursor: pointer; 
  }
  .arrow-svg_1j5 {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: rotate(180deg);
     
  }
  .carousel-item {
    flex: 0 0 auto;
    text-align: left; 
    padding: 15px;
    border-radius: 10px; 
  }
  .team-name{
    font-size: 24px;
    font-family: "Noto Sans";
  }

  @media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 200px; 
  }
  .genre-text {
    font-size: 58px;
  }
} 